<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Álbum</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Arquivos do Álbum</h1>

        <div class="row">
            {% for file in files %}
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card h-100">
                    {% if file.media_type == 'image' %}
                        <img class="card-img-top" src="{{ file.file_url }}" alt="Image">
                    {% elif file.media_type == 'video' %}
                        <video class="card-img-top" controls>
                            <source src="{{ file.file_url }}" type="video/mp4">
                            Seu navegador não suporta o player de vídeo.
                        </video>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
